html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:hover {
  background-color: rgb(212, 243, 99);
 
}
.post{
  color:darkblue;
}
/*navbar section*/
.color-nav {
  background-color: #C0DEFF;
}

.brand-nav {
  font-size: 1.35rem!important;
  font-weight:bold;
}

.nav-link{
  font-weight: bolder!important;
}
